@import '../../shared-style.scss'; 

/* linechart.scss */
.linechart-container {
  width: 100%;  /* Make it responsive */
  max-width: 640px;  /* Set max-width to preserve the original size */
  height: 320px;
  position: relative;
  outline: none;
  background-color: white;  /* Light background for high contrast */
  border-radius: var(--card-radius);  /* Use the shared variable for rounded corners */
  box-shadow: var(--shadow-default);  /* Use the shared shadow */
  overflow: hidden;
  @include transition(transform, 0.3s ease);  /* Use shared transition */
  @include transition(box-shadow, 0.3s ease);  /* Add hover effect with shared mixin */
}

.linechart-container:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-hover);
}

.linechart-container .MuiCard-root {
  @include full-size-container;  /* Use the shared full-size container mixin */
  border-radius: var(--card-radius);
  overflow: hidden;
}

.linechart-container .MuiCardContent-root {
  @include full-size-container;  /* Use the shared full-size container mixin */
  padding: 0;
}

.linechart-container .chart {
  @include full-size-container;  /* Use the shared full-size container mixin */
}

/* Hide the slider by default */
.linechart-container .chart-slider {
  opacity: 0;
  @include transition(opacity, 0.3s ease);  /* Use shared transition */
  pointer-events: none;
  position: absolute;
  right: 10px; /* Align the slider to the right */
  top: 10px; /* Align the slider to the top */
}

/* Show the slider on hover for desktop/larger screens */
.linechart-container:hover .chart-slider {
  opacity: 1;
  pointer-events: all; /* Enable pointer events when visible */
}

/* Tooltip styling */
.tooltip {
  @include tooltip-styles(5px, 14px, #f9f9f9, #ccc);  /* Use shared tooltip mixin with custom values */
}

/* Responsive layout for smaller screens */
@media (max-width: 1024px) {
  .linechart-container {
    max-width: 100%;  /* Ensure responsiveness */
    height: auto;  /* Allow height to adjust for different screen sizes */
    min-height: 200px;  /* Set a reasonable minimum height for small screens */
  }

  /* For smaller screens, show the slider on tap/click */
  .linechart-container .chart-slider {
    display: none; /* Hide the slider by default */
  }

  .linechart-container:active .chart-slider {
    display: block; /* Show the slider when the chart is tapped */
    opacity: 1;
    pointer-events: all;
  }
}
