* {
  margin: 0;
  padding: 0;

}

html, body {
  height: 100%;
  overflow: hidden; 
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #89cff0, #c8f0e1); /* Blue and green gradient */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100vw; /* Ensures the container covers the full viewport width */
}
